


<div class="row">
  <div class="col-sm-6">
    <h1>Labels</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_label_path, class: 'btn btn-primary' do %>
    Add New Label
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Kind</th>
            
      </tr>
    </thead>

    <tbody>
      <% @labels.each do |label| %>
        <%= content_tag :tr, id: dom_id(label), class: dom_class(label) do %>
          
            <td><%= link_to label.name, label %></td>
          

                      <td><%= label.kind %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
